*{
    padding:0px;
    margin:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&family=Padauk&display=swap');
body{
    background-color:#F2F1EF!important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Padauk', sans-serif;
}
p{
    font-family: 'Martel Sans', sans-serif;
}
h1{
    font-size:4em;
}
h2{
    font-size:2.8em!important;
    width:500px;
}
h3{
    font-size:2.5em!important;
}
h4{
    font-size:1.2em!important;
}
header{
    background-image: url('../img/home6.jpg');
    background-size: cover;
    background-position: top;
    height:800px;
}
/* .navbar{
    padding-top:0px!important;
} */
nav{
    color:#fcfcfc; 
    text-transform: uppercase;  
    font-weight: 500;
    
}
nav .menuIco{
    border:1px solid transparent;
    padding:5px;
    transition:.3s ease;
}
nav .menuIco:hover{
    border:1px solid #fcfcfc;
    border-radius: 50px;
}
nav a{
    color:#fcfcfc;
    /* font-size:3.5em; */
    width:50%;
    transition:1s ease;
    padding-left: 0px;
}
nav a:hover{
    color:#fcfcfc;
    
    /* text-align: center; */
    
}

@keyframes navHoverAnimacija{
    from{
        padding-left: 10px;
    }
    to{
        padding-left: 30px;
    }
}
@keyframes navOut{
    from{
        padding-left: 30px;
    }
    to{
        padding-left:10px;
    }
}
@keyframes fadeUp{
    from{
        background-color: transparent;
    }
    to{
        background-color: rgba(0,0,0,0.85);
    }
}
@keyframes fadeDown{
    from{
        background-color: rgba(0,0,0,0.85);
        display:block;
    }
    to{
        background-color: transparent;
        display:none;
    }
}
nav .openMenu{
    display:none;
    position: fixed;
    top:0px;
    left:0px;
    animation:fadeUp .5s forwards;
    height:100vh;
    width:100vw;
    z-index:101;
    padding-top:20vh;
    font-size:3em;
    transition: .3s ease;
}
nav .closeMenu{
    animation:fadeDown 1s ease;
}
nav .openMenu .escapeNav{
    padding:10px;
    border:1px solid transparent;
    
}
nav .openMenu a:hover{
    animation: navHoverAnimacija .3s forwards;
}
nav .outNav{
    animation: navOut .3s ease;
}
nav .openMenu .escapeNav:hover{
    border:1px solid #fcfcfc;
    border-radius: 50px;
}
nav .openMenu a:first-child{
    margin-top:15vh;
}
nav .openMenu a:nth-of-type(2){
    padding:50px 0px;
}
nav .openMenu a:link{
    padding-left:30px;
}
#naslov{
    margin:150px auto;
    color:#fcfcfc;
}

#naslov article h1{
    font-size:4em;
    
}
#naslov article p{
    font-size:1.15em;
    font-family: 'Martel Sans', sans-serif;
    width:90%;
    margin:0px auto;
}
#naslov article form{
    background-color: #fff;
    width:65%;
    border-radius: 5px!important;
    position:relative;
}

 #naslov article form .ispisGradova,main .ispisUrbanGradova
{
    width:75%;
    height:120px;
    overflow-x: hidden;
    overflow-y: scroll;
    position:absolute;
    left:0px;
    top:45px;
    background-color: #fff;
    color:#333;
    border-radius: 0px 0px 5px 5px;
    visibility:hidden;
    transition:.3s ease;
}
#naslov article form .ispisGradova .grad,.ispisUrbanGradova .urbanGrad{
    width:100%;
    padding:5px;
} 
 #naslov article form .ispisGradova .grad:hover,.ispisUrbanGradova .urbanGrad:hover{
    background-color:#0275d8;
    color:#fcfcfc;
}
#naslov article form .ispisGradova::-webkit-scrollbar,main .ispisUrbanGradova::-webkit-scrollbar {
    display: none;
}

#naslov article form input,.searchUrbanGradova  #searchUrbanCity{
    border:0px!important;
    border-radius: 5px!important;
    width:75%!important;
}
#naslov article form input:last-of-type, .searchUrbanGradova input:last-of-type{
    border-radius:0px 5px 5px 0px!important;
    width:25%!important;
}
/* main{
    min-height: 100vh;
} */
main #grad{
    margin:150px auto;
}


main #grad .basicInfo, main #grad .nameTranslate{
    /* background-color:#fcfcfc; */
    border-radius: 5px;
    transition:.3s ease;
    padding:20px;
}
main #grad .basicInfo .textBasicInfo{
    font-size:1.2em;
    font-weight: 600;

}

main #grad .opis{
    font-size:1.05em;
}
main #grad span{
    font-weight: 400;
}
main #grad .nameTranslate ul{
    list-style-type: none;
}
main #grad .nameTranslate ul li{
    padding:0px 5px;
    font-weight: 500;
}
main #icons{
    padding:50px 0px;
    margin-bottom:150px;
    background-color: #222;
    color:#fcfcfc;
    min-height:500px;
    
}
main #icons .cardIco{
    height:300px;
    margin:auto auto;
    transition: .3s ease;
    border-radius: 5px;
}
main #icons .cardIco p{
    width:300px;
    margin:0px auto;
    font-size: 1..05em;
   
}
main #icons .cardIco:hover{
    background-color:#F2F1EF;
    color:#333;
}
main #icons .ico{
    font-size:72px;
}

#searchCity,#moreInfo,#specificInfo{
    margin-bottom: 100px;
}
.searchUrbanGradova{
    position:relative;
}

.urbanGrad::first-letter{
    text-transform: uppercase;
}

/* #imageAndText{
    height:500px;
} */
/* #imageAndText .slika{
    margin-top:100px;
} */
#imageAndText .slika img{
    height: 500px;
    margin-bottom: 100px;
}
.text{
    text-align: justify;    
}
.text h3{
    
   padding-bottom: 50px;
}
.text .lista p{
    font-size: 1.1em;
    font-weight: 600;
}
.text .lista span{
    font-weight: 400;
}
/* #specificInfo{
    background-color: #222;
    height: 500px;
} */
#specificInfo .info{
    /* background-color: #fff; */
    padding:30px 0px;
    transition: .3s ease;
}
#specificInfo .info:hover{
    background-color: #fcfcfc;
}
#specificInfo .info ion-icon{
    font-size:48px;
}

#specificInfo .info .opis ion-icon{
    color:red;
    background-color: #333;
    border-radius: 10px;
    
}
.aa{
    padding-left: 50px;
}
#scores .score p{
    font-size:.9em;
}


#mapa{
    height:100%;
    width: 100%;
    position: relative;
}
#mapa svg{
    height:500px;
}


footer{
    background-color:#222;
    color:#fcfcfc;
    position: relative;
}
footer #log .log-form form{
    margin:0px auto;
    width: 50%;
   
}
footer .social a{
    color:#fcfcfc;
    border:1px solid #222;
    padding:5px 10px;
    transition:.3s ease;
}
footer .social a:hover{
    color:#fcfcfc;
    border:1px solid #fcfcfc;
    border-radius: 50px;
}

#createAccForm{
    display:none;
    /* background-color: rgba(255,255,255,.35); */
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:100vh;
    width:100vw;
    z-index: 100;
    animation:fadeUp .5s forwards;
}
.closeForm{
    animation:fadeDown 1s ease!important;
}
.logForm{
   margin-top:100px;
    background-color: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:30px;
    color:#333;
    border-radius: 10px;
}
.escape{
    padding:5px;
    border:1px solid #fff;
    transition:.3s ease;
}
.escape:hover{
    border:1px solid #333;
    border-radius:50px;
    
}
.provera{
    position: absolute;
    width:97%;
    height:38px;
    border-radius: 5px;
    /* visibility:hidden; */
    color:#fff;
    padding-top:10px;
    text-align: center;
    background:#D24D57;
    
}

.loader{
    position:fixed;
    top:0px;
    left:0px;
    width: 100vw;
    height:100vh;
    background-color: #000;
    display: block;
    transition:.7s ease;
}




@media screen and (max-width:1280px){
   
    #specificInfo .info ion-icon {
        font-size: 36px;
    }
    h4 {
        font-size: 1.1em!important;
    }
    #specificInfo .info .opis ion-icon {
        width:5px;
        height:5px;
    }
    specificInfo .info .opis {
        width: 100%;
        
    }
    .opis{
        text-align: center;
    }
    main #icons .cardIco p {
        width: 250px;
        
    }
}
@media screen and (max-width:1024px){
    main #grad .basicInfo .textBasicInfo {
        font-size: 1em;
        font-weight: 600;
    }
    main #icons .ico {
        font-size: 58px;
    }
    
    #specificInfo .info {
   
        padding: 20px 0px;
     
    }
    
    .aa{
       padding-left:150px;
    }
    /* #mapa svg{
        
        height:500px;
        text-align: justify;
        float: left;
    } */
}
@media screen and (max-width:768px){
    .aa{
        padding-left:70px;
     }
     #specificInfo {
        /* margin-bottom: 100px; */
        margin:0px auto 100px auto;
    }
}
@media screen and (max-width:415px){
    #mapa{
        height:334px;
    }
    #mapa svg{
        
        height:400px;
        text-align: justify;
        float: left;
    }
    nav .openMenu {
      
        font-size: 2em;
      
    }
    header {
        
        height: 100vh;
    }
    #naslov article h1 {
        font-size: 3em;
    }
    #naslov article p {
        font-size: 1em;
       
    }
    #naslov article form {
      
        width: 85%;
     
    }
    #naslov article form input, .searchUrbanGradova #searchUrbanCity {
     
        width: 70%!important;
    }
    #naslov article form input:last-of-type, .searchUrbanGradova input:last-of-type {

        width: 30%!important;
    }
    #naslov article form .ispisGradova, main .ispisUrbanGradova {
        width: 70%;
       
    }
    main #grad {
        margin: 70px auto;
    }
    h2 {
        font-size: 2.4em!important;
        width: 90%;
    }
    #naslov {
        margin: 100px auto;
       
    }
    #mapa{
        width: 100%;
        height:100%;
    }
    main #icons {
        padding: 0px 0px;
        margin-bottom: 100px;
 
    }
    main #icons .ico {
        font-size: 42px;
    }
    #searchCity, #moreInfo, #specificInfo {
        margin-bottom: 50px;
    }
    .text h3 {
        padding-bottom: 40px;
        
        text-align: center;
    }
    .text .lista p {
        font-size: .95em;
       
    }
    #icons .row{
             margin-right: 0px!important;
    }
    .btn-lg {
        padding: .25rem .5rem!important;
        font-size: 1rem!important;
        
    }
    #naslov article form .ispisGradova, main .ispisUrbanGradova {
       
        top: 37px;
    }
}